<!-- Main Toolbar of an App -->    
<mat-toolbar color="accent">    
    <span>Angular Material Component With Angular 7.2 - Laravel Developer</span>    
    <span class="demo-toolbar"></span>    
    <button mat-button href="asp-dotnet-mvc-tutorials.blogspot.in">Go To My Blog</button>    
    
</mat-toolbar>    
    
<mat-card>    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Angular Material Component With Angular 7.2
    </mat-card-title>    
    
    <mat-card-content>    
        <form>    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="First Name">    
                        </mat-form-field>    
                    </td>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Last Name">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <textarea matInput placeholder="Address" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput [matDatepicker]="picker" placeholder="Date of birth">    
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td>    
                        <span>Gender</span><br><br>    
                        <mat-radio-group>    
                            <mat-radio-button value="1">Male</mat-radio-button>    
                            <mat-radio-button value="2">Female</mat-radio-button>    
                        </mat-radio-group>    
                    </td>    
                    <td><br>    
                        <mat-form-field>    
                            <mat-select placeholder="Select Blog" [(value)]="selected">    
                                <mat-option>-- Select Any --</mat-option>    
                                <mat-option value="1">C#Corner</mat-option>    
                                <mat-option value="2">C#Corner</mat-option>    
                                <mat-option value="3">C#Corner</mat-option>    
                            </mat-select>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Email">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent">Submit</button>    
                        <button mat-raised-button color="accent">Clear</button>    
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>   


<mat-card class="example-card">
   <mat-card-header>
     <mat-card-title>Login</mat-card-title>
   </mat-card-header>
   <mat-card-content>
     <form class="example-form">
       <table class="example-full-width" cellspacing="0">
         <tr>
           <td>
             <mat-form-field class="example-full-width">
             <input matInput placeholder="Username" name="username" required>
             </mat-form-field>
           </td>
         </tr>
         <tr>
         <td><mat-form-field class="example-full-width">
           <input matInput placeholder="Password" type="password" name="password" required>
         </mat-form-field></td>
       </tr></table>
     </form>
     <mat-spinner style="display:block;"></mat-spinner>
   </mat-card-content>
   <mat-card-actions>
     <button mat-raised-button color="primary">Login</button>
   </mat-card-actions>
 </mat-card>




 <mat-toolbar color="primary">
  <mat-toolbar-row>
      <span>My First App</span>
      <span class="example-fill-remaining-space"></span>
      <span class="align-center"></span>
      <span class="example-spacer"></span>
      <button mat-button>About</button>
      <button mat-button>Contact</button>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
   </mat-toolbar-row>
 </mat-toolbar>

 <mat-card-content>
  <form class="my-form">
     <mat-form-field class="full-width">
        <mat-label>First Name</mat-label>
        <input  matInput  placeholder="First name"  name="fname"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Last Name</mat-label>
        <input  matInput  placeholder="Last Name" name="lname"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Address</mat-label>
        <input  matInput  placeholder="Address" name="address"  required>
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input  matInput  placeholder="Email" name="email">
     </mat-form-field>
     <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input  matInput  placeholder="Password"  name="password">
     </mat-form-field>
  </form>
</mat-card-content>



<section class="example-section">
  <label class="example-margin">Gender:</label>
  <mat-radio-group>
    <mat-radio-button class="example-margin" value="after">Male</mat-radio-button>
    <mat-radio-button class="example-margin" value="before">Female</mat-radio-button>
    <mat-radio-button class="example-margin" value="before">Other</mat-radio-button>
  </mat-radio-group>
</section>
 
<mat-form-field>
  <mat-label>Date of Birth</mat-label>
  <input matInput [matDatepicker]="picker1" placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1></mat-datepicker>
</mat-form-field>

<mat-card-actions>
  <button mat-raised-button color="primary">REGISTER</button>
</mat-card-actions>